@model InvoiceManager.Models.Domains.Invoice
@{ var i = 0; }

@{
    ViewBag.Title = "Faktura";
}

<link href="@Url.Content("~/Content/PrintInvoice.css")" rel="stylesheet" type="text/css" />

<div class="invoice-font">

    <div class="row">
        <div class="col-12 header-font">
            <div>Faktura</div>
            <div>Nr @Model.Title</div>
        </div>
    </div>

    <div class="row mt-5">

        <div class="col-4 offset-3">
            <div class="top-line">
                <div class="top-small-caption">
                    Data Sprzedaży
                </div>
                <div>
                    @Model.CreatedDate.ToString("dd-MM-yyyy")
                </div>
            </div>
            <div class="top-line">
                <div class="top-small-caption">
                    Termin zapłaty:
                </div>
                <div>
                    @Model.PaymentDate.ToString("dd-MM-yyyy")
                </div>
            </div>
            <div class="top-line">
                <div class="top-small-caption">
                    Sposób zapłaty
                </div>
                <div>
                    @Model.MethodofPayment.Name
                </div>
            </div>
        </div>

    </div>

    <div class="row mt-5">
        <div class="col-5">
            <div class="top-line">
                <div class="top-small-caption">
                    Sprzedawca:
                </div>
                <div>@Model.User.Name</div>
                <div>Nip: @Model.User.Address.Nip</div>
                <div>@Model.User.Address.Street @Model.User.Address.Number</div>
                <div>@Model.User.Address.PostalCode @Model.User.Address.City</div>
                <div>E-mail: @Model.User.Email</div>
            </div>
        </div>
        <div class="col-5 offset-2">
            <div class="top-line">
                <div class="top-small-caption">
                    Nabywca:
                </div>
                <div>@Model.Client.Name</div>
                <div>Nip: @Model.Client.Address.Nip</div>
                <div>@Model.Client.Address.Street @Model.Client.Address.Number</div>
                <div>@Model.Client.Address.PostalCode @Model.Client.Address.City</div>
                <div>E-mail: @Model.Client.Email</div>
            </div>
        </div>
    </div>

    <table class="table table-bordered mt-5">
        <thead>
            <tr>
                <th>Lp.</th>
                <th>Produkt</th>
                <th>Ilość</th>
                <th>J.m.</th>
                <th>Cena <br />netto</th>
                <th>Wartość <br />netto</th>
                <th>Stawka <br />Vat</th>
                <th>Kwota <br/>Vat</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var position in Model.InvoicePositions)
            {
            <tr>
                <td>@{i++;}@i.</td>
                <td>@position.Product.Name</td>
                <td>@position.Quantity</td>
                <td>@position.UnitofMeasure.Name</td>
                <td>@position.Product.NetPrice zł</td>
                <td>@position.NetValue zł</td>
                <td>@position.Product.VatRate %</td>
                <td>@position.VatValue zł</td>
            </tr>
            }


        </tbody>
    </table>

    <div class="row">
        <div class="col-12">
            <div style="text-align:right">Netto: <strong>@Model.NetValue zł</strong></div>
            <div class="mt-2" style="text-align:right">Brutto: <strong>@Model.GrossValue zł</strong></div>

                @if (!string.IsNullOrWhiteSpace(Model.Comments))
                {
                    <div style="text-align:left">Uwagi: @Model.Comments</div>
                }
        </div>
    </div>

    <div class="row mr-5 mt-3">
        <div class="col-6">
            <div>Wystawił:</div>
            <div>@Model.User.Name</div>
            <div>...................................</div>
        </div>
        <div class="col-6">
            <div>Odebrał:</div>
            <div>@Model.Client.Name</div>
            <div>...................................</div>
        </div>

    </div>

</div>

